.container {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-image: url(/public/assets/bgMascotasPage.jpg);
    color: white;
    border: none;
    cursor: pointer;
  }
  